/* default links (only those with href) */
a[href] {
  color: var(--text-color);
  text-decoration: none;
}

/* visited links */
a[href]:visited {
  font-style: italic;
}

/* hover state */
a[href]:hover {
  text-decoration: underline;
}

/* active state */
a[href]:active {
  background-color: var(--color-light-grey);
}
